.normal-login {
    width: 300px;
    max-height: 250px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0; 
    margin: auto;
    transform: translate(10,10);
    & .login-form {
        width: 100%;
    }
    & .login-form-forgot {
        float: right;
    }
    & .login-form-button {
        width: 100%;
    }
}
