.normal-login {
    width: 300px;
    max-height: 250px;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0; 
    margin: auto;
}
.normal-login .login-form {
    width: 100%;
}
.normal-login .login-form-forgot {
    float: right;
}
.normal-login .login-form-button {
    width: 100%;
}